<nav class="navbar navbar-expand-md navbar-dark fixed-top">
    <div class="container">
        <a href="" class="navbar-brand"><img src="../../assets/img/Group 8.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="fa fa-bars fa-2x"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="#home" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="#service" class="nav-link">Service</a>
                </li>
                <li class="nav-item">
                    <a href="#product" class="nav-link">Product</a>
                </li>
                <li class="nav-item">
                    <a href="#contact" class="nav-link">Contact</a>
                </li>
                <li class="nav-item">
                    <a href="#client" class="nav-link">Client</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
