<div id="service">
    <div class="container">
        <div class="row pt-4">
            <div class="col-md-4">
                <figure>
                    <img src="../../assets/img/Group 1746.png">
                    <h3>Mentorship</h3>
                    <p class="w-75">Mentoring is to support and encourage people to manage their own learning.</p>
                </figure>
            </div>
            <div class="col-md-4">
                <figure>
                    <img src="../../assets/img/Group 1745.png">
                    <h3>Networking</h3>
                    <p class="w-75">Easy ways to start a conversation at a career networking event.</p>
                </figure>
            </div>
            <div class="col-md-4">
                <figure>
                    <img src="../../assets/img/Group 1746.png">
                    <h3>Market Hub</h3>
                    <p class="w-75">Market Hub delivers intuitive, intelligence-based solutions…</p>
                </figure>
            </div>
            <div class="col-md-4">
                <figure>
                    <img src="../../assets/img/Group 1757.png">
                    <h3>Events</h3>
                    <p class="w-75">Mentoring is to support and encourage people to manage their own learning.</p>
                </figure>
            </div>
            <div class="col-md-4">
                <figure>
                    <img src="../../assets/img/Group 1753.png">
                    <h3>Opportunities</h3>
                    <p class="w-75">Easy ways to start a conversation at a career networking event.</p>
                </figure>
            </div>
            <div class="col-md-4">
                <figure>
                    <img src="../../assets/img/Group 1754.png">
                    <h3>News</h3>
                    <p class="w-75">Market Hub delivers intuitive, intelligence-based solutions…</p>
                </figure>
            </div>
        </div>
    </div>
</div>