<div class="container-fluid" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mt-5">
                <h2 id="head">A quick guide on<br> how Youngo app <br>works</h2>
                <p class="para w-50">Here is a quick storyboard on how Youngo app works, 
                    how to find your Mentors, consultants, and NGOs.</p>
            </div>
            <div class="col-md-6 mt-5">
                  <div class="img">
                    <a href="../../assets/img/funny.mp4"><i class="fa fa-play fa-2x"></i></a>
                  </div>
            </div>
        </div>
    </div>
</div>
