<div class="flex flex-col min-h-screen">
  <app-navbar></app-navbar>
  <div class="content flex-grow">
    <section class="xl:min-h-[97vh] hero px-5 md:px-12 xl:px-36">
      <div class="container mx-auto min-h-[97vh] flex items-center">
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-x-3">
          <div class="col-span-1 space-y-5">
            <h1
              class="text-white font-bold md:w-4/5 leading-normal text-2xl md:text-5xl normal-case"
            >
              Youth & NGO (Youngo) Hub
            </h1>
            <p
              class="text-white normal-case font-medium text-base md:text-xl md:w-4/5"
            >
              Explore the news section, and which NGO, consultant or mentor you
              would like to chat with.
            </p>
            <div
              class="flex flex-row flex-wrap md:flex-nowrap items-center gap-5"
            >
              <img
                src="assets/imgs/app-store_top.svg"
                class="shrink-0 h-8 md:h-14"
              />
              <img
                src="assets/imgs/playstore_top.svg"
                class="shrink-0 h-8 md:h-14"
              />
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-[#f7f8fa] md:px-12 xl:px-36 py-5 px-5">
      <div class="container mx-auto">
        <div class="grid grid-cols-5 items-center gap-x-2">
          <div class="col-span-1">
            <img
              src="assets/imgs/medic.png"
              alt="medic"
              class="shrink-0 h-4 md:h-16 mx-auto"
            />
          </div>
          <div class="col-span-1">
            <img
              src="assets/imgs/google.png"
              alt="medic"
              class="shrink-0 h-4 md:h-16 mx-auto"
            />
          </div>
          <div class="col-span-1">
            <img
              src="assets/imgs/ariya.png"
              alt="medic"
              class="shrink-0 h-4 md:h-16 mx-auto"
            />
          </div>
          <div class="col-span-1">
            <img
              src="assets/imgs/lan.png"
              alt="medic"
              class="shrink-0 h-4 md:h-16 mx-auto"
            />
          </div>
          <div class="col-span-1">
            <img
              src="assets/imgs/dangote.png"
              alt="medic"
              class="shrink-0 h-4 md:h-16 mx-auto"
            />
          </div>
        </div>
      </div>
    </section>

    <section class="bg-white md:px-12 xl:px-36 py-10 px-5">
      <div class="container mx-auto x">
        <div class="grid grid-cols-6 gap-y-10 lg:gap-y-20 gap-x-5">
          <div class="col-span-6 sm:col-span-3 lg:col-span-2 space-y-3">
            <img src="assets/imgs/bulb.png" alt="mentorship" class="shrink-0" />
            <h5 class="capitalize font-semibold text-xl md:text-2xl">
              mentorship
            </h5>
            <p class="normal-case font-normal text-sm md:text-base">
              Mentoring is to support and encourage people to manage their own
              learning.
            </p>
          </div>
          <div class="col-span-6 sm:col-span-3 lg:col-span-2 space-y-3">
            <img
              src="assets/imgs/network.png"
              alt="networking"
              class="shrink-0"
            />
            <h5 class="capitalize font-semibold text-xl md:text-2xl">
              networking
            </h5>
            <p class="normal-case font-normal text-sm md:text-base">
              Easy ways to start a conversation at a career networking event.
            </p>
          </div>
          <div class="col-span-6 sm:col-span-3 lg:col-span-2 space-y-3">
            <img src="assets/imgs/network.png" alt="network" class="shrink-0" />
            <h5 class="capitalize font-semibold text-xl md:text-2xl">
              market hub
            </h5>
            <p class="normal-case font-normal text-sm md:text-base">
              Market Hub delivers intuitive, intelligence-based solutions.
            </p>
          </div>
          <div class="col-span-6 sm:col-span-3 lg:col-span-2 space-y-3">
            <img
              src="assets/imgs/event.png"
              alt="market_hub"
              class="shrink-0"
            />
            <h5 class="capitalize font-semibold text-xl md:text-2xl">events</h5>
            <p class="normal-case font-normal text-sm md:text-base">
              They often include significant gatherings, celebrations,
              conferences, or even natural phenomena.
            </p>
          </div>
          <div class="col-span-6 sm:col-span-3 lg:col-span-2 space-y-3">
            <img
              src="assets/imgs/opportunity.png"
              alt="opprotunities"
              class="shrink-0"
            />
            <h5 class="capitalize font-semibold text-xl md:text-2xl">
              opportunities
            </h5>
            <p class="normal-case font-normal text-sm md:text-base">
              It's important to be prepared to make the most of opportunities
              when they arise, whether through preparation, networking, or
              simply being attentive to the possibilities around us.
            </p>
          </div>
          <div class="col-span-6 sm:col-span-3 lg:col-span-2 space-y-3">
            <img src="assets/imgs/news.png" alt="news" class="shrink-0" />
            <h5 class="capitalize font-semibold text-xl md:text-2xl">news</h5>
            <p class="normal-case font-normal text-sm md:text-base">
              There's a wide range of topics from global events and politics to
              technology advancements, scientific discoveries, entertainment
              updates, and more.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-[#45003d] px-5 py-14 md:px-12 xl:px-36">
      <div class="container mx-auto">
        <div class="grid grid-cols-2 gap-x-10 items-center">
          <div class="col-span-2 md:col-span-1">
            <div *ngIf="activeTab === products.AUTH">
              <img src="assets/imgs/reg_login.svg" alt="auth" />
            </div>

            <div
              *ngIf="activeTab === products.NEWS"
              class="flex flex-row items-center -space-x-20"
            >
              <img
                src="assets/imgs/home-samsung.png"
                class="w-40 lg:w-60 z-30"
              />
              <img
                src="assets/imgs/chat_options.png"
                class="w-40 lg:w-60 mt-28"
              />
            </div>

            <div
              *ngIf="activeTab === products.GUIDIANCE"
              class="flex flex-row items-center -space-x-20"
            >
              <img
                src="assets/imgs/mentorship.png"
                class="w-40 lg:w-60 mt-28"
              />
              <img
                src="assets/imgs/chat_options.png"
                class="w-40 lg:w-60 z-30"
              />
            </div>
          </div>
          <div class="col-span-2 md:col-span-1 space-y-10">
            <h5
              class="normal-case font-semibold text-2xl md:text-4xl text-white"
            >
              Youth & NGO (Youngo) Hub
            </h5>
            <p class="text-white font-semibold normal-case text-base w-4/5">
              Explore the news section, and which NGO, consultant or mentor you
              would like To chat with.
            </p>

            <div class="border-l-2 flex flex-col gap-y-5">
              <a
                class="  pl-3 cursor-pointer font-medium hover:text-white {{
                  activeTab === products.AUTH
                    ? 'text-white'
                    : 'text-neutral-600'
                }} "
                (click)="tabChange(products.AUTH)"
                >Register or Login</a
              >
              <a
                class="pl-3 cursor-pointer font-medium  hover:text-white  {{
                  activeTab === products.NEWS
                    ? 'text-white'
                    : 'text-neutral-600'
                }}  "
                (click)="tabChange(products.NEWS)"
                >Explore the Youth & NGO News</a
              >
              <a
                class=" pl-3 cursor-pointer font-medium  hover:text-white {{
                  activeTab === products.GUIDIANCE
                    ? 'text-white'
                    : 'text-neutral-600'
                }}  "
                (click)="tabChange(products.GUIDIANCE)"
                >Chat with mentors, consultants, NGO</a
              >
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <app-footer></app-footer>
</div>
