.hero {
  background: url("../../../assets/imgs/hero-bg.png"),
    url("../../../assets/imgs/hero-blend.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: auto;
}
