/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";

@font-face {
  font-family: "ProductSans-Black";

  src: url("./assets/fonts/ProductSans-Black.ttf");
}

@font-face {
  font-family: "ProductSans-BlackItalic";
  src: url("./assets/fonts/ProductSans-BlackItalic.ttf");
}

@font-face {
  font-family: "ProductSans-Light";
  src: url("./assets/fonts/ProductSans-Light.ttf");
}

@font-face {
  font-family: "ProductSans-Medium";

  src: url("./assets/fonts/ProductSans-Medium.ttf");
}

@font-face {
  font-family: "ProductSans-MediumItalic";
  src: url("./assets/fonts/ProductSans-MediumItalic.ttf");
}

@font-face {
  font-family: "ProductSans-Regular";
  src: url("./assets/fonts/ProductSans-Regular.ttf");
}

@font-face {
  font-family: "ProductSans-Thin";
  src: url("./assets/fonts/ProductSans-Thin.ttf");
}

@font-face {
  font-family: "ProductSans-ThinItalic";
  src: url("./assets/fonts/ProductSans-ThinItalic.ttf");
}
