 <!-- <div class="fixed-background" id="home">

      <div class="home-wrap">
          <div class="home-inner">

          </div>
    <div class="first">
      <div class="container">
          <div class="row" >
              <div class="col-md-6 col-sm-12 mt-5">
                <h2 class="">Youth & NGO (Youngo) Hub</h2>
                <p class="text">Explore the news section, and which NGO, consultant or mentor you would like to chat with.</p>
                <div class="d-flex" style="margin-left:-10px;">
                    <a href="" class="btn btn-md"><img src="../../assets/img/app-store_top.svg" style="width:160px"></a>
                    <a href="" class="btn btn-md"><img src="../../assets/img/playstore_top.svg" style="width:160px"></a>
                </div>
              </div>
            <div class="col-md-6 img-group d-none d-lg-block">
                <div class="col-md-2"><img src="../../assets/img/drawable-xxxxhdpi3@3x.png" id="size"></div>
                <div class="col-md-2 two" style="top:-35%;margin-left:150px"><img src="../../assets/img/drawable-xxxxhdpi4@3x.png" id="size"></div>
                <div class="col-md-2" style="top:-62%;margin-left:380px;"><img src="../../assets/img/chat optionss@3x.png" id="size"></div>
                <div class="col-md-2" style="top:-65%; margin-left:370px;"><img src="../../assets/img/home samsung@3x.png" id="size"></div>
            </div>
          </div>
      </div>
    </div>
      </div>
  </div> -->
  
  
  <div class="fixed-background" id="home">
    <div class="home-wrap">
      <div class="home-inner">

      </div>
      <div class="first">
        <div class="container">
          <div class="row">
            <div class="col-md-12 mt-5 text-center">
              <h2>Youth & NGO (Youngo) Hub</h2>
              <p class="text">Explore the news section, and which NGO, consultant or mentor you would like to chat with.</p>
              <div class="img d-flex">
                <a href="" class="btn btn-md"><img src="../../assets/img/app-store_top.svg" ></a>
                <a href="" class="btn btn-md"><img src="../../assets/img/playstore_top.svg"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="pad">
    <div class="container">
        <img class="col-2" src="../../assets/img/medic@3x.png">
        <img class="col-2"  src="../../assets/img/Google@3x.png">
        <img class="col-2" src="../../assets/img/ARIIYA@3x.png">
        <img class="col-2" src="../../assets/img/LAN@3x.png">
        <img class="col-2" src="../../assets/img/Dangote@3x.png">

    </div>
</div>